<div ng-show="visible" class="row chat-window col-xs-5 col-md-3 {{vm.theme}}" ng-class="{minimized: vm.isHidden}">
    <div class="col-xs-12 col-md-12">
        <div class="panel">
            <div class="panel-heading chat-top-bar">
                <div class="col-md-8 col-xs-8">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="col-md-4 col-xs-4 window-actions" style="text-align: right;">
                    <span class="fa" ng-class="vm.chatButtonClass" ng-click="vm.toggle()"></span>
                </div>
            </div>
            <div class="panel-body" ng-style="vm.panelStyle">
                <div class="msg-container-base">
                    <div class="row msg-container" ng-repeat="message in vm.messages" ng-init="selfAuthored = vm.myUserId == message.fromUserId">
                        <div class="col-md-12 col-xs-12">
                            <div class="chat-msg" ng-class="{'chat-msg-sent': selfAuthored, 'chat-msg-recieved': !selfAuthored}">
                                <span class="hide">myUserId:{{vm.myUserId}}</span>
                                <img ng-if="message.imageUrl" class="profile" ng-class="{'pull-right': selfAuthored, 'pull-left': !selfAuthored}" ng-src="{{message.imageUrl}}" />
                                <p>{{message.content}}</p>
                                <div class="chat-msg-author">
                                    <strong>{{message.username}}</strong>&nbsp;
                                    <span class="date">{{message.date|date:hh:mm:a}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-bottom-bar">
                    <form style="display:inherit" ng-submit="vm.submitFunction()">
                        <div class="input-group" >
                            <input type="text" class="form-control input-sm chat-input" placeholder="{{vm.inputPlaceholderText}}" ng-model="vm.writingMessage" />
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-sm chat-submit-button" value="{{vm.submitButtonText}}" />
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
