<div class="jumbotron" style="background-color: #7ceece">
<div class="text-center">
  <h2 >You are now logged out!</h2>
  
  
  <p><a class="btn btn-primary btn-lg" ui-sref="main" role="button">Go back to news</a></p>
  </div>
</div>