
<div class="messages-wrapper">
  <div ng-repeat="(key, article) in ctrl.messages">
    <div class="message from"><a href="{{article.link}}">{{article.title}}</a></div>
    <div class="message to">{{article.desc}}</div>
  </div>
</div>