<nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
			<div class="container">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
					<a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
					<a ui-sref="main" style="color: #5C7AFF; font-family:'Lobster', sans-serif; font-size: 50px;">Qews</a>
				</div>
				<div class="col-xs-4">
				</div>

				<div class="col-sm-5 text-right fh5co-link-wrap">
					<ul class="fh5co-special" data-offcanvass="yes">
						<li><a ng-if="!ctrl.user" ui-sref="signIn" ui-sref-active="active" style="color: #5C7AFF">Login</a></li>
						<li><a ng-if="!ctrl.user" ui-sref="signUp" class="call-to-action">Sign Up</a></li>
						<li><a ng-if="ctrl.user" ui-sref="admin" class="call-to-action2">Admin</a></li>
						<li><a ng-if="ctrl.user" ui-sref="edit" class="call-to-action2">Edit</a></li>
						<li><a ng-if="ctrl.user" href="/logout" ui-sref-active="active" class="call-to-action2">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>