<div class="container" ng-controller="SearchCtrl as ctrl">
  <div class="page-header">
    <h1>User Management System
      <small>Username Search</small>
    </h1>
  </div>

  <form name="queryForm" novalidate class="form-inline">
    <div class="form-group">
      <input id="searchString" class="form-control" size="50" type="text" name="searchString" ng-model="ctrl.searchString" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid" ng-click="ctrl.search()">
        Search Username
      </button>
    </div>
  </form>

  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="users in ctrl.users">
        <td><a href= "" ng-click="ctrl.shift(users.username)">{{users.username }}</td>


        <td>{{users.name_first }}</td>


        <td>{{users.name_last }}</td>




      </tr>
    </tbody>
  </table>
</div>