<div class="container" ng-controller="LoginCtrl as ctrl">



    <div class="col-sm-6 col-sm-offset-2">
        <br>

        <!-- LOGIN FORM -->





        <form name="loginForm" ng-submit="ctrl.login()" novalidate autocomplete="off">



            <div class="form-group input-field col s6">

                <input type="email" class="form-control" ng-model="ctrl.user.email" placeholder="Email address" name="email" required>


            </div>

            <div class="form-group input-field col s6">

                <input type="{{ctrl.inputType}}" class="form-control" ng-model="ctrl.user.password" name="password" placeholder="Password"
                    minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required>
                <br>

                <input type="checkbox" id="checkbox" ng-model="ctrl.passwordCheckbox" ng-click="ctrl.hideShowPassword()">
                <label for="checkbox" ng-if="ctrl.passwordCheckbox">Hide</label>
                <label for="checkbox" ng-if="!ctrl.passwordCheckbox">Show</label>



            </div>

            <flash-message duration="1000000000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>


            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a ui-sref="signUp">Signup</a></p>
        <p>Forgot your password ? <a ui-sref="ResetPassword">Reset</a></p>

    </div>

    <div class="col-sm-4">

        <div style="margin-top: 40px;">
            <a href="/oauth/google" class="btn btn-block btn-social btn-google">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google
            </a>
            <a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
            <a href="/oauth/twitter" class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
            <a href="/oauth/linkedIn" class="btn btn-block btn-social btn-linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
            </a>
            <a href="/oauth/wechat" class="btn btn-block btn-social btn-wechat">
                <i class="fa fa-wechat" aria-hidden="true"></i> WeChat
            </a>
        </div>
    </div>
</div>